# Git
alias gaa="git add ."
alias gcm="git commit --message"
alias gp="git push"
alias gs="git status"

# Navigation
alias ..="cd .."
alias gtdl="cd ~/Downloads"
alias gtdt="cd ~/Desktop"
alias gtc="cd ~/code"
alias gtg="cd ~/code/git"
alias gtp="cd ~/code/projects"
alias puf="cd ~/code/puffer"
alias rstart="~/code/projects/reminderse/scripts/start.sh"

# Remaps
#alias ls="colorls"
alias v="nvim"

# ETC
alias ip="ipconfig getifaddr en0 | pbcopy"
