alias ..="cd .."
alias gaa="git add ."
alias gtdl="cd ~/Downloads"
alias gtdt="cd ~/Desktop"
alias v="nvim"
alias gtc="cd ~/code"
alias gtg="cd ~/code/git"
alias gtp="cd ~/code/projects"
alias puf="cd ~/code/puffer"
alias rstart="~/code/projects/reminderse/scripts/start.sh"
alias gcm="git commit --message"
alias ls="colorls"
